$minWidth: 320px;
$maxWidth: 1440px;

$containerDesktopWidth: 1140px;
$containerDesktopPadding: 15px;
$containerTabletPadding: 39px;
$containerPhonePadding: 15px;

$bp1: 1440px;
$bp2: 768px;
$bp3: 620px;
$bp4: 480px;
$bp5: 375px;

$fontFamily: "Montserrat", sans-serif;
$fontFamilySecondary: "Georgia", sans-serif;