@import "components/App/variables";

.title {
  &__container {

  }

  &__label {
    font-size: 130px;
    font-weight: 800;
    letter-spacing: 10.08px;
  }
}

@media (max-width: $bp3) {
  .title__label {
    font-size: 50px;
    letter-spacing: 3.88px;
  }
}